<h1>Listing of breweries</h1>
<%= form_tag breweries_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'search', :name => nil %>
  </p>
<% end %>

<ul>

  <% @breweries.each do |b| %>
  <li><%= image_tag(b.images[:medium]) if b.images %></li>
  <li><%= b.name %></li>
  <li class="btn"><%= link_to 'show beers', breweries_show_path(id: b.id)%></li>
  <br>
  <% end %>
  <br>

</ul>
