<h2>Search for breweries</h2>

<%= form_tag breweries_path, :method => 'get' do %>
  <p class="input-field">
    <%= label_tag 'search breweries' %>
    <%= text_field_tag :search, params[:search] %>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </p>
<% end %>

<ul>
  <% @breweries.each do |b| %>
  <li><%= image_tag(b.images[:medium]) if b.images %></li>
  <li><%= b.name %></li>
  <li class="btn"><%= link_to 'show beers', breweries_show_path(id: b.id)%></li>
  <br>
  <% end %>
  <br>

</ul>
