<h4><%= @brewery_name.name %></h4>


<div class="divider"></div>
<div class="row">
  <% @brewery.each do |b| %>
  <% if b.labels %>
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-content breweries">
        <span class="card-title  amber accent-2 black-text"><%= truncate(b.name, length: 38, separator: ' ') %></span>
        <ul>
          <li><%= image_tag(b.labels[:medium]) if b.labels %></li>
          <li>Abv: <%= b.abv %></li>
          <li>IBU: <%= b.ibu if b.ibu %></li>
          <li>Description: <%= truncate(b.description, length: 280, separator: ' ')%></li>

        </ul>
        </div>
      <div class="card-action light-blue lighten-5">
        <% if user_signed_in? %>
        <%= link_to "New Entry", new_post_path(beer_id: b.id), class: "light-blue-text"%>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
