<h1>Listing of breweries</h1>
<%= form_tag beers_brewery_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'search', :name => nil %>
  </p>
<% end %>

<ul>
  <% @breweries.each do |b| %>
  <li><%= image_tag(b.images[:medium]) if b.images %></li>
  <li><%= b.name if b.images %></li>
  <% end %>
</ul>
