<h2>Search for Beers</h2>

<%= form_tag beers_path, :method => 'get' do %>
  <p class="input-field">
    <%= label_tag 'search for beer' %>
    <%= text_field_tag :search, params[:search] %>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </p>
<% end %>

<ul>
  <% @beers.each do |beer| %>
  <li><h2><%= link_to beer.name, beers_show_path(id: beer.id) %></h2></li>
  <li><h2><%= link_to "New Post for #{beer.name}", new_post_path(beer_id: beer.id) %></h2></li>
  <li>ABV: <%= beer.abv %></li>
  <li>IBU: <%= beer.ibu %></li>
  <li>inspect: <%= beer.description %></li>
  <% end %>
</ul>
