<h1>Listing Beers</h1>
<%= form_tag beers_index_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'search', :name => nil %>
  </p>
<% end %>

  <ul class="collection light-blue lighten-2" >
    <% @beers.each do |beer| %>
    <li class="collection-item active"><h4><%= link_to beer.name, beers_show_path(beer_id: beer.id) %></h4></li>
    <li class="collection-item">ABV: <%= beer.abv %></li>
    <li class="collection-item">IBU: <%= beer.ibu %></li>
    <li class="collection-item">inspect: <%= beer.description %></li>
    <% end %>
  </ul>
