<h4>Beer details</h4>

<div class="divider"></div>
<div class="row">
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-content breweries">
        <span class="card-title  amber accent-2 black-text"><%= truncate(@beer.name, length: 38, separator: ' ') %></span>
        <ul>
          <%= image_tag(@beer.labels.medium) if @beer.labels  %>
          <li>Abv:<%= @beer.abv %></li>

          <li>IBU:
            <%= @beer.ibu if @beer.ibu %></li>
          <li>Description:
            <%=truncate(@beer.description, length: 380, separator: ' ')%></li>
        </ul>
      </div>
      <div class="card-action light-blue lighten-5">
        <%= link_to "Back", :back %>
        <% if user_signed_in? %>
        <%= link_to "New Entry", new_post_path(beer_id: @beer.id), class: "light-blue-text"%>
        <% end %>
      </div>
    </div>
  </div>

</div>
