
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= @beer.name %></h3><%= image_tag(@beer.labels.medium) if @beer.labels  %>
    <%= f.hidden_field :beer_id, value: @beer_id %>
    <br>
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Prost!
    <i class="material-icons right">send</i>
  </button>
<% end %>
