<h2>All recent beer entries</h2>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Rating</th>
      <th>Comment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.beer.name %></td>
      <% if current_user %>
      <td><%= rating_for post, 'beer', enable_half: true %></td>
      <% end %>
      <td><%= post.comment %></td>

      <td><%= post.user.first_name %></td>
      <td ><%= link_to 'Details', post, class: "waves-effect waves-light btn" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
