<div class="row">
  <div class="col s12 m12">
    <div class="card hoverable">
      <div class="card-content light-blue lighten-5 black-text">
        <span class="card-title  amber accent-2 black-text"><%= truncate(@post.beer.name, length: 28, separator: ' ') %></span>

        <p><%= image_tag(@post.beer.labels.medium) if @post.beer.labels  %><br></p>

        <p>Availability:
          <%= @post.beer.available.name if @post.beer.available %>
        </p>

        <p>Description:
          <%= @post.beer.description %></p>
        <br>
        <div class="divider"></div>
        <br>
        <p>
          Comment:
          <%= @post.comment %>
        </p>
        <br>
        <% if current_user %>
        <p>Rating:
          <%= rating_for @post, 'beer', enable_half: true %></p>
        <% end %>

      </div>
      <div class="card-action light-blue lighten-5">
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>
