
    <p><%= image_tag(@post.beer.labels.medium) if @post.beer.labels  %><br></p>
    <h3><%= @post.beer.name %></h3>
    <p>Availability: <%= @post.beer.available.name if @post.beer.available %> </p>
    <blockquote>
    Description: <%= @post.beer.description %>
    </blockquote>


  <p>
    Comment:
    <%= @post.comment %>
  </p>


  <% if current_user %>
    Rating  : <%= rating_for @post, 'beer', enable_half: true %>
  <% end %>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
