<h3><%= @user.first_name %>'s beer log</h3>
<div class="row">
  <div class="col s12">
    <table class="bordered">
        <thead>
          <tr>
              <th>Name</th>
              <th>First tried</th>
              <th>Comment</th>
              <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @user_posts.each do |u| %>
          <tr>
            <td><%= u.beer.name %></td>
            <td><%= u.created_at.strftime("%a %m-%d at %H:%M") %></td>
            <td><%= u.comment %></td>
            <td> <%= rating_for u, 'beer', enable_half: true %> </td>
            <td ><%= link_to 'Details', post_path(id: u.id), class: "waves-effect waves-light btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
