
<% @user_posts.each do |u| %>
<ul>
  <li><%= image_tag(u.beer.labels.medium) if u.beer.labels  %></li>
  <li><%= u.beer.name %></li>
  <li><%= u.comment %></li>
  <li><%= u.user.full_name %></li>
  <li class="btn"><%= link_to 'Show', post_path(u.id) %></li>
</ul>
<% end %>
