<!DOCTYPE html>
<html>
<head>
  <title>BeerSnob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right"><strong>BS</strong></a>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><%= link_to 'Home'     , root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Beers'    , beers_index_path %></li>
      <li><%= link_to 'Brewery show', beers_show_path %></li>
      <li><%= link_to 'Posts'    , posts_path %></li>
      <li><%= link_to 'Log Out'  , destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign Up'  , new_user_registration_path %></li>
      <li><%= link_to 'Log In'   , new_user_session_path %></li>
    <% end %>
   </ul>
 </div>
</nav>
<% if @current_user %>
  <%= "Hello, #{@current_user.email}" %>
<% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<div class="container">

<%= yield %>

</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</html>
