<!DOCTYPE html>
<html>
<head>
  <title>BeerSnob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <% if controller_name == "welcome" %>
  <body class="welcome">
  <% else %>
  <body>
  <% end %>
<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><%= link_to 'Profile', profile_index_path %></li>
     </ul>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><%= link_to 'Home'     , root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Beers'    , beers_index_path %></li>
      <li><%= link_to 'Breweries', beers_brewery_path %></li>
      <li><%= link_to 'Log Out'  , destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign Up'  , new_user_registration_path %></li>
      <li><%= link_to 'Log In'   , new_user_session_path %></li>
    <% end %>
   </ul>
 </div>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<div class="container">
<%= yield %>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>

</html>
